.nav {
  grid-area: n;
  background-color: burlywood;
  cursor: default;
  padding: 20px 0 0 0;
}
.nav a {
  text-decoration: none;
  color: white;
}

.item {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.item .active {
  color: gold;
}