* {
  margin: 0;
  padding: 0;
}
.firstProject {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-row-gap: 10px;
  grid-column-gap:10px ;
  grid-template-areas:
    " h h"
    "n c";
}

.header {
  grid-area: h;
  background-color: green;
}
.header img {
  width: 50px;
  height: 50px;
}

.nav {
  grid-area: n;
  background-color: burlywood;
}

.content {
  grid-area: c;
  background-color: blueviolet;
}
.content img {
  width:1000px ;
  height: 410px;
}
